.card {
  position: relative;
  background-color: var(--secondary-color);
  padding: 25px;
  list-style-type: none;
  margin-bottom: 15px;
  cursor: pointer;
  border: 1px solid var(--secondary-color);
  transition: 0.3s ease-in-out;
}

.selected {
  border: 1px solid var(--priamry-color);
  background-color: var(--priamry-color);
}

.title {
  margin-bottom: 10px;
  word-break: break-word;
}

.text {
  max-width: 80ch; /* limits to ~60 characters */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines before truncating */
  -webkit-box-orient: vertical;
  white-space: normal; /* Allow text to wrap */
}

.arrow {
  position: absolute;
  right: 15px;
  top: 15px;
}
